.container{
 margin:24px 0px;
}

.container label{
 display: block;
 margin-bottom: 8px;
 font-size: 24px;
}

.container input{
 background-color: #fff;
 box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0);
 width: 100%;
 border: 0;
 font-size: 24px;
 padding: 24px;
 box-sizing: border-box;
}